DJANGO_ENV=production
SECRET_KEY=change-me-to-a-long-random-string
ALLOWED_HOSTS=todo.example.com
CSRF_TRUSTED_ORIGINS=https://todo.example.com
POSTGRES_DB=todo
POSTGRES_USER=todo
POSTGRES_PASSWORD=change-me-to-a-strong-password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
